<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>物流出荷指示書</title>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style-basic.css">
    <link rel="stylesheet" href="/static/css/style-index.css">
    <!-- Common JavaScript -->
    <script src="/static/javascripts/_myfunctions.js"></script>
</head>
<body>
    <!-- Common JavaScript EJS -->
    <%- include("_myfunctions.ejs") %>

    <!-- Header -->
    <%- include("_header.ejs", { title: "出荷指示書" + myFunc.c(planday), req }) %>

    <!-- Details -->
    <div id="top"></div>
    <div class="containers">

    <% if (kd8330.length == 0) { %>
        <div class="alert">出荷指示書は存在しません．</div>
    <% } else { %>
        <div class="title">
            <i class="fas fa-paw"></i> 出荷指示書
        </div>
        <% kd8330.forEach(function (d) { %>
            <div class="item">
                <!--a href="/wh/delivery/2024-07-16/C0103/0717/1"-->
                <a href="/wh/delivery/<%= d.SHIPDT %>/<%= d.TKCD %>/<%= d.XLSSN %>/1">                        
                    <div class="item-header"><%= d.TKRNM %></div>
                    <div class="item-subject"><%= d.XLSSN %></div>
                    <div class="item-title">納品日：
                        <date class="item-date"><%= myFunc.a(d.DLVRDT) %></date>
                    </div>
                    <div class="item-title">出荷準備点数：</div>
                    <div class="item-count"><%= d.CNT %> / <%= d.TTL %><str class="item-title">点</str></div>
                </a>
            </div>
        <% }); %>
        <br><br>
    <% }; %>

    </div></div>

    <div id="scroll-bottom"></div>

    <!-- Footer -->
    <%- include("_footer.ejs", req) %>

    <!-- ブラウザ読み込み完了後のJavaScriptを記述 -->
    <script>
        function scriptTest(){
            var userAgent = window.navigator.userAgent.toLowerCase(); 
            alert(userAgent);
        }
    </script>

</body>
</html>
