<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>物流出荷指示書</title>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style-basic.css">
    <link rel="stylesheet" href="/static/css/style-index.css">
    <!-- Common JavaScript -->
    <script src="/static/javascripts/qrcode.js"></script>
    <script src="/static/javascripts/_myfunctions.js"></script>
</head>
<body>
    <!-- Common JavaScript EJS -->
    <%- include("_myfunctions.ejs") %>

    <!-- Header -->
    <%- include("_header.ejs", { title: "出荷指示書" + myFunc.c(today), req }) %>

    <!-- Details -->
    <div id="top"></div>
    <div class="containers">

    <% if (kd8330.length == 0) { %>
        <div class="alert">出荷指示書は存在しません．</div>
    <% } else { %>
        <div class="title">
            <i class="fas fa-paw"></i> 出荷指示書
        </div>
        <% kd8330.forEach(function (d) { %>
            <% if (d.SHIPDT == ygws[0]) { %>
                <div class="item y">
            <% } else if (d.SHIPDT == ygws[1]) { %>
                <div class="item g">
            <% } else { %>
                <div class="item w">
            <% } %>
                <!--a href="/wh/delivery/C0103/2024-07-16/0717/1"-->
                <a href="/wh/delivery/<%= d.TKCD %>/<%= d.SHIPDT %>/<%= d.XLSSN %>/1">
                    <div class="item-header">
                        <% if (d.SHIPDT == ygws[0]) { %>
                            <div class="qrcode y" id="<%= d.TKCD %>-Y"></div>
                        <% } else if (d.SHIPDT == ygws[1]) { %>
                            <div class="qrcode g" id="<%= d.TKCD %>-G"></div>
                        <% } else if (d.SHIPDT == ygws[2]) { %>
                            <div class="qrcode w" id="<%= d.TKCD %>-W"></div>
                        <% } else if (d.SHIPDT == ygws[3]) { %>
                            <div class="qrcode w1" id="<%= d.TKCD %>-1W"></div>
                        <% } %>
                        <div class="item-maker">
                            <div class="item-header-title"><%= d.TKRNM %></div>
                            <div class="item-subject"><%= d.XLSSN %></div>
                        </div>
                    </div>
                    <div class="item-date-title">出荷日：
                        <date class="item-date"><%= myFunc.a(d.SHIPDT) %></date>
                    </div>
                    <div class="item-date-title">納品日：
                        <date class="item-date"><%= myFunc.a(d.DLVRDT) %></date>
                    </div>
                    <div class="item-count-title">出荷準備点数：</div>
                    <div class="item-count"><%= d.CNT %> / <%= d.TTL %><str class="item-count-title">点</str></div>
                </a>
            </div>
        <% }); %>
        <br><br>
    <% }; %>

    </div></div>

    <div id="scroll-bottom"></div>

    <!-- Footer -->
    <%- include("_footer.ejs", req) %>

    <!-- ブラウザ読み込み完了後のJavaScriptを記述 -->
    <script>
        // 初期表示にQRコードを埋め込む
        QRDisp();
        // Javascriptテスト
        function scriptTest(){
            var userAgent = window.navigator.userAgent.toLowerCase(); 
            alert(userAgent);
        }
        // QRポップアップ表示
        function QRDisp(){
            const YGW = ["C0101-Y","C0101-G","C0101-W","C0101-1W","C0105-Y","C0105-G","C0105-W","C0105-1W"];
            for (let i = 0; i < YGW.length; i++) {
                const dom = document.getElementById(YGW[i]);
                if (dom) {
                    new QRCode(dom, {
                        text: YGW[i],
                        width: 52,
                        height: 52,
                        colorDark : "#000000",
                        colorLight : "#ffffff",
                        correctLevel : QRCode.CorrectLevel.H
                    });
                }
            }
        }
    </script>

</body>
</html>
